.app {
  color: rgb(52, 62, 80);
  font-family: "Euclid Circular B", sans-serif;
  text-align: center;
}

.logo {
  width: 100px;
}

.header {
  background-color: rgb(214, 233, 255);
  color: rgb(52, 62, 80);
  padding: 20px;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}
